.searchbar {
	display                  : block;
	margin-left              : auto;
	margin-right             : auto;
	width                    : 60vw;
	text-align               : center;
	height                   : 5vh;
	border-top-left-radius   : 10px;
	border-bottom-left-radius: 10px;
	border                   : 0;
}

.searchbar:focus,
input:focus {
	outline: none;
}

.searchbutton {
	display                   : block;
	margin-left               : auto;
	margin-right              : auto;
	width                     : 10vw;
	text-align                : center;
	height                    : 5vh;
	background-color          : #1de9b6;
	color                     : white;
	border-top-right-radius   : 10px;
	border-bottom-right-radius: 10px;
	padding                   : 5%;
	justify-content           : center;
}