.UploadField {
	margin-top      : 20vh;
	width           : 60vw;
	height          : 60vh;
	background-color: #3d3d3d;
	border-radius   : 10px;
}

.dropzone {
	color         : #3d3d3d;
	text-rendering: optimizeLegibility;
	box-sizing    : border-box;
	padding       : 0;
	border        : 0;
	font-size     : 100%;
	font          : inherit;
	vertical-align: baseline;
	max-width     : 720px;
	margin-left   : auto;
	margin-right  : auto;
}

.upbutton {}