.UploadField {
	margin-top      : 5vh;
	width           : 60vw;
	height          : 90vh;
	background-color: #3d3d3d;
	border-radius   : 10px;
	margin-left     : auto;
	margin-right    : auto;
}

.upbutton {
	display     : block;
	margin-left : 2vh;
	margin-right: 2vh;
	margin-top  : auto;
	width       : 26vw;
	text-align  : center;
}

.formpart {
	margin-bottom: 5vh;
	width        : auto;
	text-align   : center;
	display      : block;
}

.inline {
	display     : inline-block;
	margin-left : auto;
	margin-right: auto;
}

.outline {
	display     : block;
	margin-left : auto;
	margin-right: auto;
}

.centrebuttons {
	margin-left : auto;
	margin-right: auto;
	display     : block;
}

.form-container {
	max-height  : 50vh;
	padding     : 3vh;
	margin-left : auto;
	margin-right: auto;
}

.longarea {
	width      : 54.4vw;
	margin-left: 0.5vw;
}

.longinput {
	height: 15vh;
}

.tagarea {
	margin-left : auto;
	display     : block;
	margin-right: auto;
}