<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>403</title>

    <!--Inter UI font-->
    <link href="https://rsms.me/inter/inter-ui.css" rel="stylesheet">

    <!--vendors styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}" id="theme-color">
</head>
<body>
  <section class="smart-scroll">
      <div class="container-fluid">
          <nav class="navbar navbar-expand-md navbar-dark">
              <a class="navbar-brand heading-black" href="index.html">
                  ASMShare
              </a>
              <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
                      data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                      aria-label="Toggle navigation">
                  <span data-feather="grid"></span>
              </button>
          </nav>
      </div>
  </section>
<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
    <div class="container">
        <div class="row vh-md-100">
            <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
                <h1 class="heading-black text-capitalize">403</h1>
                <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6b5c5a94-3454-4f63-b839-c6e51a4343e3/d5terv3-0d2db466-01b2-4c72-9005-7f5ab44a3130.png/v1/fill/w_1024,h_1024,strp/you_shall_not_pass_road_sign_by_replicantcomplex_d5terv3-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTAyNCIsInBhdGgiOiJcL2ZcLzZiNWM1YTk0LTM0NTQtNGY2My1iODM5LWM2ZTUxYTQzNDNlM1wvZDV0ZXJ2My0wZDJkYjQ2Ni0wMWIyLTRjNzItOTAwNS03ZjVhYjQ0YTMxMzAucG5nIiwid2lkdGgiOiI8PTEwMjQifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.SrzgiRLDWIzECgc2WKSUYvbCCtP4YfnUg1MWINN2Vf4" style="height:50%; width:50%; display: block; margin-left: auto; margin-right: auto;">
                <button class="btn btn-primary d-inline-flex flex-row align-items-center" onclick="window.location.href='/'">
                    Cool, take me home
                    <em class="ml-2" data-feather="arrow-right"></em>
                </button>
            </div>
        </div>
    </div>
</section>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>
</html>
