<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>500</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/ASMS.ico') }}">

	<!--Inter UI font-->
	<link href="{{ url_for('static', filename='css/inter-ui.css')}}" rel="stylesheet" defer>

	<!--vendors styles-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	{% include "menu.html" %}
	{% block menu %}
	{% endblock %}

	<!-- Bootstrap CSS / Color Scheme -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}" id="theme-color">
</head>

<body>
	<!--hero header-->
	<section class="py-7 py-md-0 bg-hero" id="home">
		<div class="container">
			<script>
				console.log("8==)")
			</script>
			<div class="row vh-md-100">
				<div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
					<h1 class="heading-black text-capitalize">500</h1>
					<p class="lead py-3">Alright. So this is a problem. Send me a text/email that you broke my site
						(details on the <a href="https://github.com/ReCore-sys/ASMShare">GitHub</a>) and what you did to
						cause this. If no-one has done this before, you
						will get a lolipop.</p>
					<button class="btn btn-primary d-inline-flex flex-row align-items-center"
						onclick="window.location.href='/'">
						Huh. Alright.
						<em class="ml-2" data-feather="arrow-right"></em>
					</button>
				</div>
			</div>
		</div>
	</section>

	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>