<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Name change</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/ASMS.ico') }}">

	<!--Inter UI font-->
	<link href="{{ url_for('static', filename='css/inter-ui.css')}}" rel="stylesheet">

	<!--vendors styles-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	

	<!-- Bootstrap CSS / Color Scheme -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/feedback.css')}}" id="theme-color">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}" id="theme-color">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css')}}" id="theme-color">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css')}}" id="theme-color">

</head>

<body>
	<section class="smart-scroll">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-md navbar-dark">
				<a class="navbar-brand heading-black" href="/">
					{% include "menu.html" %}
					{% block menu %}
					{% endblock %}
				</a>
				<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
					data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
					aria-label="Toggle navigation">
					<span data-feather="grid"></span>
				</button>
			</nav>
		</div>
	</section>
	<!--hero header-->
	<form action="" method="post" enctype="multipart/form-data">
		<div class="form-wrap">
			<h1>Change name</h1>
			<p style="margin-bottom: 1vh;">Hint: put in "clear" to set your name back to the default</p>
			<input type="text" placeholder="Name" name="name" required="true">
			<input type="submit" value="Submit" class="topmarg">
		</div>
	</form>

	</div>


	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
	


	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>