{% extends "puretext.html" %} {% block title %} Info {% endblock %} {% block
content %}
<h1>Info</h1>
<p>
  So you probably have a few questions. Thats cool. Here is some answers to
  those questions.
</p>
<br />
<h3>Can I upload my current work?</h3>
<p>
  I mean you can, I can't physically stop you. If I catch it I will remove it
  and report it to teachers though, so up to you.
</p>
<br />
<h3>Will my work get plagurised?</h3>
<p>
  Nope. Since all work goes through plagscan, Any stolen work will be caught as
  soon as they submit. It doesn't make stealing work easier, it just makes it
  easier to find stuff to steal. If anything, it'll make it harder since
  teachers will be untrusting of my site and check your work even closer.
</p>
<br />
<h3>Will I get viruses?</h3>
<p>
  I have done my best to block uploads of any dangerous files, but I can't block
  everything. Please check any PDFs or DOCX files you download before opening
  them.
</p>
<br />
<h3>What are the rules regarding earning a lollipop?</h3>
<p>
  The bug must cause a 500 error page <br />
  You can't earn more than one lollipop for the same bug <br />
  You can't get the same bug as someone else (First to report it gets the
  lollipop)<br />
  You have to tell me what you did to get it
</p>
<br />
<h3>"It LoOkS lIkE tRaSh"</h3>
<p>
  I am fully aware yes. If you have any graphic design skills you can help out.
  Otherwise, shush. I'm working on it.
</p>
<h3>Can I change my name?</h3>
<p>
  Yep. I can see who changes their names though so don't do anything offensive.
  The logic behind it is so that people don't have to use their deadnames on the
  site if they don't want to. Go to <a href="../change">this</a> page to change
  it. Please don't abuse it, or it will be removed.
</p>

{% endblock %}
