{% block loader %}
<!-- By using "defer", it tells the browser to download the scripts in parralel. This stops it from blocking the display while it downloads -->
<script src="{{ url_for('static', filename='js/loader.js')}}" defer></script>
<script src="https://animejs.com/lib/anime.min.js"></script>
<!-- so in this file is a loading screen that does a lot of things -->
<script>
    $('.wrapper').width($(window).width());
    $('.wrapper').height($(window).height());
    // Here we add an OnSubmit value to any submit buttons. This new value triggers the function below when the form is submitted
    $(document).ready(function () {
        $('#form').submit(function ()
        // This function is called when the user submits
        {
            console.log("Yes")
            $('.wrapper').css({ display: "inline-block" })
            $('#form').css({ visibility: "hidden" })
            $("body").css('background-color', 'black');
            $('input').css({ visibility: "hidden" })
        })
    })
</script>

{% endblock %}