{% block loader %}
<!-- so in this file is a loading screen that does a lot of things -->
<script>
// Here we add an OnSubmit value to any submit buttons. This new value triggers the function below when the form is submitted
$(':submit').submit(loader)
// A line of HTML that is just importing a stylesheet and an element called stagger-visualizer
var newContent=`<link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css')}}" id="theme-color"><div class="stagger-visualizer"></div>
`;
// Here we define a function to overwrite the whole page with the HTML above
function ReplaceContent(NC) {
document.open();
document.write(NC);
document.close();
}
// This function is called when the user submits
function loader() {
  // Loads the loader's js file
  $.getScript("{{ url_for('static', filename='js/loader.js')}}")
  // Imports anime.js (an animation library)
  $.getScript("https://animejs.com/lib/anime.min.js")
  // Calls the overwrite function. This removes everything on the page and replaces it with that line of HTML above
  ReplaceContent(newContent);
}
</script>

{% endblock %}