{% block menu %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css')}}" id="theme-color">
<nav class="navigation">

	<ul class="menu">
		<li><a class="active" href="../home">
				<div data-feather="home"></div><span title="Home">Home</span>
			</a></li>
		<li><a href="../upload">
				<div data-feather="upload"></div><span title="Upload files">Upload</span>
			</a></li>
		<li><a href="../search">
				<div data-feather="search"></div><span title="Search for files">Search</span>
			</a></li>
		<li><a href="../feedback">
				<div data-feather="inbox"></div><span title="Give feedback">Feedback</span>
			</a></li>
		{% if current_user.is_authenticated %}
		<li><a href="../logout">
				<div data-feather="log-out"></div><span title="Log out">Log out</span>
			</a></li>
		{% else %}
		<li><a href="../home">
				<div data-feather="log-in"></div><span title="Log in">Log in</span>
			</a></li>
		{% endif %}
	</ul>

</nav>
{% endblock %}