<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{query}}</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='img/ASMS.ico') }}">

		<!--Inter UI font-->
		<link href="{{ url_for('static', filename='css/inter-ui.css')}}" rel="stylesheet">

		<!--vendors styles-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		

		<!-- Bootstrap CSS / Color Scheme -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/default.css')}}" id="theme-color">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css')}}" id="theme-color">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/fullsearch.css')}}" id="theme-color">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/search.css')}}" id="theme-color">
	</head>

	<body>
		<section class="smart-scroll">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-md navbar-dark">
					{% include "menu.html" %}
					{% block menu %}
					{% endblock %}
					<button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
						<span data-feather="grid"></span>
					</button>
				</nav>
			</div>
		</section>
		<!--hero header-->
		<section class="py-7 py-md-0 bg-hero" id="home" style="height: 500px;">
			<div class="container">
				<div class="row vh-md-100">
					<div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center besmall">
						<h1 class="heading-black text-capitalize">{{query}}</h1>
						<p class="lead py-3">Pretty empty for now, But I will add stuff I promise</p>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


						<section class="search">
							<input id="post_id" class="searchbar" type="text" placeholder="Search" style="width: auto; border-radius: 10px;">
						</section>
						<!--
            Look, I don't want to use jQuery either, but here we are. If someone wants to convert this to regular js, go for it
            -->
						<!-- region live update search query -->
						<script>
							$("input#post_id").on("change", function() { // Whenever this field changes

								var post_id = $("input#post_id").val(); // Get the value of the field

								$("a#link").attr("href", "../search/" + post_id); // Update the href in the link to match the id inserted in the input field

							});
							$(document).on('keypress', function(e) {
								if (e.which == 13) {
									location.href = ('../search/' + post_id.value);
								}
							});
						</script>
						<!-- region typing script -->
						<script>
							////////////////////////////
							// Twitter: @mikedevelops
							////////////////////////////

							// your custome placeholder goes here!
							var ph = "Search for items by name, author, tag, subject or description",
								searchBar = $('#post_id'),
								// placeholder loop counter
								phCount = 0;

							// function to return random number between
							// with min/max range
							function randDelay(min, max) {
								return Math.floor(Math.random() * (max - min + 1) + min);
							}

							// function to print placeholder text in a
							// 'typing' effect
							function printLetter(string, el) {
								// split string into character seperated array
								var arr = string.split(''),
									input = el,
									// store full placeholder
									origString = string,
									// get current placeholder value
									curPlace = $(input).attr("placeholder"),
									// append next letter to current placeholder
									placeholder = curPlace + arr[phCount];

								setTimeout(function() {
									// print placeholder text
									$(input).attr("placeholder", placeholder);
									// increase loop count
									phCount++;
									// run loop until placeholder is fully printed
									if (phCount < arr.length) {
										printLetter(origString, input);
									}
									// use random speed to simulate
									// 'human' typing
								}, randDelay(50, 90));
							}

							// function to init animation
							function placeholder() {
								$(searchBar).attr("placeholder", "");
								printLetter(ph, searchBar);
							}

							placeholder();
							$('.searchbutton').click(function(e) {
								//phCount = 0;
								//e.preventDefault();
								//placeholder();
							});
						</script>
					</div>

					<!-- THIS IS THE PART THAT HANDLES THE DISPLAY OF ITEMS -->
					<section style="width: 100%;">
						{% if query == "" %}
						<h1 class="heading-black text-capitalize nonefoundtxt">Try searching for something with the bar above</h1>

						{% elif results | length == 0 %}
						<h1 class="heading-black text-capitalize nonefoundtxt">We couldn't find anything. Try again later</h1>
						{% else %}
						{% for x in results %}
						<div class="CardHolder">
							<div class="card" onclick="window.location.href='/items/{{x}}'">
								<section>
									<img src={{results[x]["image"]}} class="CardImg">
								</section>
								<section>
									<div class="cardtext">
										<h4>
											<b>{{results[x]["name"]}}</b>
										</h4>
										<p>{{results[x]["short"]}}</p>
									</div>
								</section>
							</div>
						</div>
						{% endfor %}
						{% endif %}
					</section>
					<!-- theme switcher (FOR DEMO ONLY - REMOVE FROM PRODUCTION)-->

				</div>
			</div>
			</div>
		</section>

		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
		

		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	</body>

</html>
